:root {
    --primary: rgb(0, 0, 0);
    --secondary: rgb(0, 157, 255);
    --header: rgb(26, 0, 221);
    --date: rgb(78, 97, 236);
    --comment: rgb(29, 178, 3);
    background: #ffffff;
}

body {
    margin: 0;
    font-family: 'Oxanium', sans-serif;
    height: 100%;
    background-color: var(background);
    color: var(--primary);
    text-align: left;
    padding: 0 10%;
    line-height: 30px;
}

section {
    padding: 10px;
    /* border-bottom: var(--primary) 1px dotted; */
}

h1,
h3 {
    color: var(--header);
}

a {
    color: var(--secondary);
}

.date {
    color: var(--date);
}

.comment {
    color: var(--comment);
    padding-left: 40px;
}

ul {
    list-style-type: none;
}